<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" href="#" th:href="@{/}">Mangly - Manglish Lyrics</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="#" th:href="@{/film}">Film</a></li>
            <li><a href="#" th:href="@{/message}">Album</a></li>
            <li><a href="#" th:href="@{/Song}">Religious</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <!--   <li th:if="${#authorization.expression('!isAuthenticated()')}">  -->
           <li>   <a href="/signin" th:href="@{/signin}">Sign in</a>
            </li>
             <!--  <li th:if="${#authorization.expression('isAuthenticated()')}"> 
            <li>  <a href="/logout" th:href="@{/logout}">Logout</a>
            </li>-->
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>